/* responsive font scaling */
html { font-size: 18px; }
@media screen and (min-width: 641px) { html { font-size: 16px; } }
@media screen and (min-width: 1281px) { html { font-size: 18px; } }

html { background: #f8f4f4; color: #333; }
body { font-family: 'Nunito', sans-serif; }

table { max-width: 100%;}
td { white-space: nowrap; line-height: 1.2; }

input { min-width: 0; border-radius: 0; border: 0 }

img { width: 100%; }

.font-h1, .font-h2, .font-h3, .font-h4,
.font-h5, .font-h6, .font-body {
  font-family: 'Nunito', sans-serif;
}

.font-h1, .font-h2, .font-h3, .font-h4, .text-header {
  font-weight: 800;
}
.text-wrap { white-space: normal; }
.text--small { font-size: 0.75rem; }

.color--white { color: white; }
.color--shell { color: #f8f4f4; }
.color--orange { color: #ce6946; }
.color--faint { opacity: 0.65; }

.bg--white { background: white; }
.bg--shell { background: #f8f4f4; }
.bg--orange { background: #ce6946; }
.bg--dark-orange { background: #a1482b;}

.shadow { box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.25); }
.shadow--shell { box-shadow: 0 2rem 1rem #f8f4f4; }
.shadow--none { box-shadow: none !important; }

.border--light { border: solid 1px #ccc; }

.sticky { position: sticky; z-index: 1; top: 0; left: 0; right: 0; }

.z-2 { z-index: 2; }

.width--half { width: 50%; }
.width--sidebar { width: 14rem; }
.offset--sidebar { margin-left: 14rem; }

.size--avatar { min-width: 1.5em; min-height: 1.5em; max-width: 1.5em; max-height: 1.5em; }

.max-width--20 { max-width: 20rem; }
.max-width--10 { max-width: 10rem; }

.ellipsis { max-width: 100%; text-overflow: ellipsis; white-space: nowrap; }

.overflow-hidden { overflow: hidden; }

.tr { display: table-row; }
.tr:nth-child(2n + 1) { background: #eee; }

/* buttons */
.button {
  cursor: pointer;
  color: white;
  background: linear-gradient(coral, #ce6946);
  padding: 0.6em 1.2em;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.25);
  transition: opacity 200ms ease-in-out;
}

.button--icon { padding: 0.6em; }

.button:hover { opacity: 0.75; }
.button[disabled] { opacity: 0.5; }

.button--white { color: #ce6946; background: linear-gradient(#ffffff, #f0f0f0); }

.page { transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out; }
.page--invisible { opacity: 0; visibility: hidden; }

.borderless { border: 0; }

/* Hover effects */
.highlightable { cursor: pointer; transition: color 200ms ease-in-out; }
.highlightable:hover { color: dodgerblue; }

.hoverable { cursor: pointer; transition: opacity 200ms ease-in-out; }
.hoverable:hover { opacity: 0.5; }

/* Normalize icon size */
.fas, .fab {
  min-width: 1em;
  min-height: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}