html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
  height: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
  max-width: 720px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__links {
  display: flex;
  align-items: baseline;
}
.navbar__links > *:first-child {
  font-size: 20px;
}
.navbar__links > :not(:first-child) {
  margin-left: 1rem;
}

input {
  padding: 0.25rem 0.5rem;
  border: solid 1px #ccc;
  font-size: inherit;
  font-family: inherit;
  margin-top: 0.5rem;
}

.button {
  border: solid 1px #ccc;
  padding: 0.5rem 1.5rem;
  background: #06f;
  color: white;
  font-family: inherit;
  font-size: inherit;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 1rem;
}

label div {
  font-weight: bold;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.layout > * {
  width: 100%;
}

.layout__page {
  flex: 1 0 auto;
  padding: 2rem 0;
  box-sizing: border-box;
}

footer {
  padding-bottom: 1rem;
}